@page "/testchart"
@inject IProductionPlanning planning
<h3>Test Chart</h3>
<h2>Click the button to test</h2>



@if (TaskCollection.Count == 0)
{
    <h3>...is loading</h3>

    <h3 class="text-danger">You have to upload the files first!!!(if you havent)</h3>
}
else
{
    <button class="btn btn-primary mx-2" type="button" @onclick="(()=>ShowChart())">
        Show Chart
    </button>
}
@if (showChart)
{
    <GanttChart TaskCollection="ToShow"></GanttChart>
}

@code {
    bool showChart;
    private List<TaskData> ToShow { get; set; } = new();
    private List<ITaskData> TaskCollection { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        // ToShow = GetTaskCollection();
        var temp = await planning.CreateProductionPlan();
        TaskCollection = temp;
    }

    private void ShowChart()
    {
        foreach (var item in TaskCollection)
        {
            TaskData task = new TaskData
                {
                    TaskId = item.TaskId,
                    TaskName = item.TaskName,
                    StartDate = item.StartDate,
                    EndDate = item.EndDate,
                    Duration = item.Duration,
                    Progress = item.Progress,
                    DurationUnit = item.DurationUnit,
                    Note = item.Note,
                    Deadline = item.Deadline,
                    OrderDate = item.OrderDate,
                    Status = item.Status
                    // Steps = item.Steps
                };
            ToShow.Add(task);

        }
        showChart = true;
    }

    // public static List<TaskDataToShow> GetTaskCollection()
    // {
    //     List<TaskDataToShow> Tasks = new List<TaskDataToShow>()
    //     {
    //         new TaskDataToShow
    // {
    //     TaskId = 1,
    //     TaskName = "P001",
    //     StartDate = DateTime.Parse("2023-01-10"),
    //     Progress = 30,
    //     ParentId = null
    // },
    // new TaskDataToShow
    // {
    //     TaskId = 2,
    //     TaskName = "P002",
    //     StartDate = DateTime.Parse("2023-02-15"),
    //     Progress = 75,
    //     ParentId = 1
    // },
    // new TaskDataToShow
    // {
    //     TaskId = 3,
    //     TaskName = "P003",
    //     StartDate = DateTime.Parse("2023-04-01"),
    //     Progress = 100,
    //     ParentId = 2
    // }
    //     };
    //     return Tasks;
    // }
}